    body {
        margin: 75px;
        padding: 1em;
        background-color: rgb(255, 255, 255);
    }
    
    header {
        background-image: url(file:///C:/Users/Elève/Documents/Projet%20Final/img/plaat.jpg);
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    table {
        border-collapse: collapse;
        width: auto;
        margin-bottom: 20px;
        margin: auto;
    }
    
    .T2 {
        text-align: center;
    }
    
    .t2 td,
    .t2 th {
        border-spacing: 150px;
        border: 50px solid rgb(255, 255, 255);
        text-align: center;
        table-layout: fixed;
        width: auto;
    }
    
    img {
        text-align: center;
        width: 450px;
        height: auto;
        display: flex;
    }
    
    .title-big {
        color: aliceblue;
    }
    
    p {
        text-align: center;
    }