                body {
                    margin: 75px;
                    padding: 1em;
                    background-color: rgb(252, 239, 166);
                }
                
                header {
                    background-image: url(file:///C:/Users/Elève/Documents/Projet%20Final/img/plaat.jpg);
                    text-align: center;
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                }
                
                table {
                    border-collapse: collapse;
                    width: auto;
                    margin-bottom: 20px;
                    margin: auto;
                }
                
                .T2 {
                    text-align: center;
                }
                
                .t2 td,
                .t2 th {
                    border-spacing: 150px;
                    border: 50px solid rgb(255, 255, 255);
                    text-align: center;
                    table-layout: fixed;
                    width: auto;
                }
                
                img {
                    width: 450px;
                    height: auto;
                    display: flex;
                    align-content: center;
                }
                
                .center {
                    text-align: center;
                    align-content: center;
                    align-items: center;
                }
                
                .img-responsive {
                    display: block;
                    height: auto;
                    max-width: 100 %;
                }
                
                .title-big {
                    color: aliceblue;
                }
                
                #menu {
                    position: fixed;
                    right: 0;
                    top: 50%;
                    width: 8em;
                    margin-top: -2.5em;
                }
                
                section {
                    display: flex;
                    height: 160px;
                    background: rgb(255, 182, 122);
                    align-content: center;
                }
                
                .carousel-control-prev-icon {
                    background-image: url(../images/previous-32.png);
                    width: 32px;
                    height: 32px;
                }
                
                .p2 {
                    text-align: center;
                    font-size: 1.5em;
                    font-style: monospace;
                }
                
                .fixe {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 75px;
                    background-color: rgb(252, 243, 206);
                }